@define-color background #191919;
@define-color color0 #AA5577;
@define-color color1 #BB6677;
@define-color color2 #CC7788;
@define-color color3 #DD8899;
@define-color color4 #EE99AA;
@define-color color5 #FFAACB;
@define-color color6 #FFBBCC;
@define-color color7 #FFCCDD;
@define-color color8 #FFDDFF;
@define-color color9 #FFEEFF;

* {
    font-size: 13px;
    font-weight: 600;
    font-family: "CaskaydiaCove Nerd Font";
}
window#waybar{
    border-radius:10px 0px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @color7;
}
window{
    color:rgba(255,255,255,0.8);
}

#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover, #custom-expand:hover{
    color:alpha(@color7,.5);
    transition: all .3s ease;
}
#custom-notification {
    padding: 0px 5px 0 10px;
    transition: all .3s ease;
    color:rgba(255,255,255,0.8);
}
#clock{
    padding: 0px 5px;
    color:rgba(255,255,255,0.8);
    transition: all .3s ease;
}

#workspaces {
    padding: 7px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color: white;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color7;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: @color1;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: white;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(255,255,255,0.8);
}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(255,255,255,0.8);
}
#battery{
    padding: 0px 10px 0 5px;
    transition: all .3s ease;
    color:rgba(255,255,255,0.8);
}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease;
}
#custom-expand{
    padding: 0px 5px;
    color:rgba(255,255,255,.8);
    transition: all .3s ease;
}

#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(255,255,255,0.8);
}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease;

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
